html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
    background-color: #C1BDB3;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    
}

#container{
    width: 600px;
    height: 600px;;
    background-color: white;
}

#info{
    display: flex;
    margin: 100px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


/* .boton{
    margin-top: 20px;
    width: 100%;
    background-color: #323031;
    color: white;
}

.boton:hover{
    border-color: #7F7979;
} */

input{
    width: 40px;
}

main {
  flex: 1;
}

.content{
    width: 100%;
    height: 100%;
}

#container{
    border: 1px solid black;
    display: grid;    
}


footer {
  background-color: #3D3B3C;
  color: white;
  text-align: center;
  justify-content: center;
    padding: 10px;
}

img{
    width: 15px;
    margin-right: -10px;
}

a{
    margin-right: 50px;
    color: white;
    text-decoration: none;
    cursor:pointer;
}

.cssbuttons-io {
    margin-top: 20px;
    width: 60%;
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: ghostwhite;
  overflow: hidden;
}

.cssbuttons-io span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.5em 1.2em 0.5em 1.05em;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cssbuttons-io::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
  transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
  transform: scale(0.95);
}
